{% extends 'base.html.twig' %}

{% block body %}
<div class="row" style="margin-top:30px;">
  <div class="col-md-12">
    <div class="row">
      <div class="col-md-6">
          <h3 class="page-header">
            Con QVO
            <hr>
            <small class="text-muted">Simplificamos tus pagos Online</small>
          </h3>
          <br>
          <h5 style="margin-bottom:20px;">Agrega tus Clientes</h5>
          <form class="" action="" method="post">
            <input type="text" name="name" placeholder="Nombre" class="form-control" style="margin-bottom:10px;" value="">
            <input type="text" name="email" placeholder="Correo" class="form-control" style="margin-bottom:10px;" value="">
            <button type="submit" name="button" class="btn btn-primary">Enviar</button>
          </form>
      </div>
      <div class="col-md-6">
          <img src="https://qvo.cl/assets/images/hero.png" alt="QVO" style="width:600px;">
      </div>

    </div>
    <div class="row">
      <div class="col-md-12">
        <h3>
          <small class="text-muted">Lista de clientes agregados</small>
        </h3>
        <hr>
        <table class="table table-hover">
          <thead>
            <tr>
              <th scope="col">Nombre</th>
              <th scope="col">Correo</th>
            </tr>
          </thead>
          <tbody>
            {% for customer in customers %}
            <tr>
              <td>{{customer.name}}</td>
              <td>{{customer.email}}</td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>

    </div>



  </div>

</div>
{% endblock %}
